:root,html,body {
  width: 100%;
}
.underline-class:hover::after {
  width: 100%;
}
.underline-class::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;

  margin:auto;
  background-color: rgb(207, 207, 49);

}